//?==== page header css start ====?//
.pbwp-page-header {
    .pbwp-page-title {
        padding: 15px 0;
        text-align: center;
        background: #F8E15E;
        h3 {
            margin: 0;
            font-weight: 600;
        }
    }
}
//?==== page header css ends  ====?//
